.git
.env
.husky
.github
.gitignore

node_modules
src
test

.dockerignore
Dockerfile
build.sh

LICENSE
CONTRIBUTING.md
CHANGELOG.md
README.md

tsconfig.json
jest.config.ts
package-lock.json
yarn.lock
pnpm-lock.yaml
