DOMAIN="aniwatchtv.to"
PORT=4000
CORS_ALLOWED_ORIGINS=https://your-production-domain.com,https://another-trusted-domain.com

# RATE LIMIT
WINDOW_MS=1800000     # duration to track requests (in milliseconds) for rate limiting. here, 30*60*1000 = 1800000 = 30 minutes
MAX=70               # maximum number of requests in this timeperiod
